<TABLE>
<TR  bgcolor="#C0C0C0">
<TH>Hierarchy</TH>
<TH>Input</TH>
<TH>Constant Input</TH>
<TH>Unused Input</TH>
<TH>Floating Input</TH>
<TH>Output</TH>
<TH>Constant Output</TH>
<TH>Unused Output</TH>
<TH>Floating Output</TH>
<TH>Bidir</TH>
<TH>Constant Bidir</TH>
<TH>Unused Bidir</TH>
<TH>Input only Bidir</TH>
<TH>Output only Bidir</TH>
</TR>
<TR >
<TD >x_y_capture_buffer</TD>
<TD >33</TD>
<TD >320</TD>
<TD >0</TD>
<TD >320</TD>
<TD >320</TD>
<TD >320</TD>
<TD >320</TD>
<TD >320</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >lcd_screen</TD>
<TD >38</TD>
<TD >2</TD>
<TD >4</TD>
<TD >2</TD>
<TD >13</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >goal_counters|sevenSegment4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >goal_counters|sevenSegment3</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >goal_counters|intToNibblesTeam2</TD>
<TD >32</TD>
<TD >0</TD>
<TD >24</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >goal_counters|sevenSegment1</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >goal_counters|sevenSegment0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >goal_counters|intToNibblesTeam1</TD>
<TD >32</TD>
<TD >0</TD>
<TD >24</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >goal_counters</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >28</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >usb_Comm|dvrq</TD>
<TD >84</TD>
<TD >0</TD>
<TD >53</TD>
<TD >0</TD>
<TD >20</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >usb_Comm|d</TD>
<TD >57</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >117</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >usb_Comm|h</TD>
<TD >21</TD>
<TD >3</TD>
<TD >0</TD>
<TD >3</TD>
<TD >25</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >usb_Comm|P1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >usb_Comm|G8</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >usb_Comm|G7</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >usb_Comm|G6</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >usb_Comm|G5</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >usb_Comm|G4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >usb_Comm|G3</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >usb_Comm|G2</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >usb_Comm|G1</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >usb_Comm</TD>
<TD >4</TD>
<TD >57</TD>
<TD >0</TD>
<TD >57</TD>
<TD >98</TD>
<TD >57</TD>
<TD >57</TD>
<TD >57</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >neg_3ns</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|irq_mapper</TD>
<TD >8</TD>
<TD >26</TD>
<TD >2</TD>
<TD >26</TD>
<TD >32</TD>
<TD >26</TD>
<TD >26</TD>
<TD >26</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|width_adapter_003|width_adapter_001|uncompressor</TD>
<TD >45</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >36</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|width_adapter_003|width_adapter_001</TD>
<TD >117</TD>
<TD >3</TD>
<TD >0</TD>
<TD >3</TD>
<TD >130</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|width_adapter_003</TD>
<TD >117</TD>
<TD >3</TD>
<TD >0</TD>
<TD >3</TD>
<TD >130</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|width_adapter_002|width_adapter</TD>
<TD >135</TD>
<TD >3</TD>
<TD >0</TD>
<TD >3</TD>
<TD >112</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|width_adapter_002</TD>
<TD >135</TD>
<TD >3</TD>
<TD >0</TD>
<TD >3</TD>
<TD >112</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|width_adapter_001|width_adapter_001|uncompressor</TD>
<TD >45</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >36</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|width_adapter_001|width_adapter_001</TD>
<TD >117</TD>
<TD >3</TD>
<TD >0</TD>
<TD >3</TD>
<TD >130</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|width_adapter_001</TD>
<TD >117</TD>
<TD >3</TD>
<TD >0</TD>
<TD >3</TD>
<TD >130</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|width_adapter|width_adapter</TD>
<TD >135</TD>
<TD >3</TD>
<TD >0</TD>
<TD >3</TD>
<TD >112</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|width_adapter</TD>
<TD >135</TD>
<TD >3</TD>
<TD >0</TD>
<TD >3</TD>
<TD >112</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_mux_001|arb|adder</TD>
<TD >76</TD>
<TD >38</TD>
<TD >0</TD>
<TD >38</TD>
<TD >38</TD>
<TD >38</TD>
<TD >38</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_mux_001|arb</TD>
<TD >23</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >19</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_mux_001</TD>
<TD >2454</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >148</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_mux|arb|adder</TD>
<TD >16</TD>
<TD >8</TD>
<TD >0</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_mux|arb</TD>
<TD >8</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_mux</TD>
<TD >519</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >133</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_demux_019</TD>
<TD >132</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >130</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_demux_018</TD>
<TD >132</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >130</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_demux_017</TD>
<TD >132</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >130</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_demux_016</TD>
<TD >132</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >130</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_demux_015</TD>
<TD >132</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >130</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_demux_014</TD>
<TD >132</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >130</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_demux_013</TD>
<TD >132</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >130</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_demux_012</TD>
<TD >132</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >130</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_demux_011</TD>
<TD >132</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >130</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_demux_010</TD>
<TD >132</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >130</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_demux_009</TD>
<TD >132</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >130</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_demux_008</TD>
<TD >132</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >130</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_demux_007</TD>
<TD >132</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >130</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_demux_006</TD>
<TD >132</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >130</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_demux_005</TD>
<TD >132</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >130</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_demux_004</TD>
<TD >132</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >130</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_demux_003</TD>
<TD >133</TD>
<TD >4</TD>
<TD >2</TD>
<TD >4</TD>
<TD >259</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_demux_002</TD>
<TD >133</TD>
<TD >4</TD>
<TD >2</TD>
<TD >4</TD>
<TD >259</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_demux_001</TD>
<TD >132</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >130</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_demux</TD>
<TD >133</TD>
<TD >4</TD>
<TD >2</TD>
<TD >4</TD>
<TD >259</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cmd_xbar_mux_003|arb|adder</TD>
<TD >8</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >4</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cmd_xbar_mux_003|arb</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cmd_xbar_mux_003</TD>
<TD >261</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >131</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cmd_xbar_mux_002|arb|adder</TD>
<TD >8</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >4</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cmd_xbar_mux_002|arb</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cmd_xbar_mux_002</TD>
<TD >261</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >131</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cmd_xbar_mux|arb|adder</TD>
<TD >8</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >4</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cmd_xbar_mux|arb</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cmd_xbar_mux</TD>
<TD >261</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >131</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cmd_xbar_demux_001</TD>
<TD >150</TD>
<TD >361</TD>
<TD >2</TD>
<TD >361</TD>
<TD >2452</TD>
<TD >361</TD>
<TD >361</TD>
<TD >361</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cmd_xbar_demux</TD>
<TD >135</TD>
<TD >16</TD>
<TD >2</TD>
<TD >16</TD>
<TD >517</TD>
<TD >16</TD>
<TD >16</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rst_controller|alt_rst_sync_uq1</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rst_controller</TD>
<TD >17</TD>
<TD >14</TD>
<TD >0</TD>
<TD >14</TD>
<TD >2</TD>
<TD >14</TD>
<TD >14</TD>
<TD >14</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|burst_adapter_001|altera_merlin_burst_adapter_uncompressed_only.the_ba</TD>
<TD >114</TD>
<TD >3</TD>
<TD >5</TD>
<TD >3</TD>
<TD >112</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|burst_adapter_001</TD>
<TD >114</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >112</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|burst_adapter|altera_merlin_burst_adapter_uncompressed_only.the_ba</TD>
<TD >114</TD>
<TD >3</TD>
<TD >5</TD>
<TD >3</TD>
<TD >112</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|burst_adapter</TD>
<TD >114</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >112</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_019|the_default_decode</TD>
<TD >0</TD>
<TD >25</TD>
<TD >0</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_019</TD>
<TD >112</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_018|the_default_decode</TD>
<TD >0</TD>
<TD >25</TD>
<TD >0</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_018</TD>
<TD >112</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_017|the_default_decode</TD>
<TD >0</TD>
<TD >25</TD>
<TD >0</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_017</TD>
<TD >112</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_016|the_default_decode</TD>
<TD >0</TD>
<TD >25</TD>
<TD >0</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_016</TD>
<TD >112</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_015|the_default_decode</TD>
<TD >0</TD>
<TD >25</TD>
<TD >0</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_015</TD>
<TD >112</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_014|the_default_decode</TD>
<TD >0</TD>
<TD >25</TD>
<TD >0</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_014</TD>
<TD >112</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_013|the_default_decode</TD>
<TD >0</TD>
<TD >25</TD>
<TD >0</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_013</TD>
<TD >112</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_012|the_default_decode</TD>
<TD >0</TD>
<TD >25</TD>
<TD >0</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_012</TD>
<TD >112</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_011|the_default_decode</TD>
<TD >0</TD>
<TD >25</TD>
<TD >0</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_011</TD>
<TD >112</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_010|the_default_decode</TD>
<TD >0</TD>
<TD >25</TD>
<TD >0</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_010</TD>
<TD >112</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_009|the_default_decode</TD>
<TD >0</TD>
<TD >25</TD>
<TD >0</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_009</TD>
<TD >112</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_008|the_default_decode</TD>
<TD >0</TD>
<TD >25</TD>
<TD >0</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_008</TD>
<TD >112</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_007|the_default_decode</TD>
<TD >0</TD>
<TD >25</TD>
<TD >0</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_007</TD>
<TD >112</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_006|the_default_decode</TD>
<TD >0</TD>
<TD >25</TD>
<TD >0</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_006</TD>
<TD >112</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_005|the_default_decode</TD>
<TD >0</TD>
<TD >25</TD>
<TD >0</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_005</TD>
<TD >112</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_004|the_default_decode</TD>
<TD >0</TD>
<TD >25</TD>
<TD >0</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_004</TD>
<TD >112</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_003|the_default_decode</TD>
<TD >0</TD>
<TD >25</TD>
<TD >0</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_003</TD>
<TD >94</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >112</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_002|the_default_decode</TD>
<TD >0</TD>
<TD >25</TD>
<TD >0</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_002</TD>
<TD >94</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >112</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_001|the_default_decode</TD>
<TD >0</TD>
<TD >25</TD>
<TD >0</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_001</TD>
<TD >112</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router|the_default_decode</TD>
<TD >0</TD>
<TD >25</TD>
<TD >0</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router</TD>
<TD >112</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|addr_router_001|the_default_decode</TD>
<TD >0</TD>
<TD >25</TD>
<TD >0</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|addr_router_001</TD>
<TD >112</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|addr_router|the_default_decode</TD>
<TD >0</TD>
<TD >25</TD>
<TD >0</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|addr_router</TD>
<TD >112</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|lcd_flags_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent_rsp_fifo|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|lcd_flags_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|lcd_flags_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent|uncompressor</TD>
<TD >45</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >43</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|lcd_flags_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >40</TD>
<TD >57</TD>
<TD >40</TD>
<TD >330</TD>
<TD >40</TD>
<TD >40</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|lcd_flags_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >330</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|lcd_chars_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent_rsp_fifo|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|lcd_chars_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|lcd_chars_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent|uncompressor</TD>
<TD >45</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >43</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|lcd_chars_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >40</TD>
<TD >57</TD>
<TD >40</TD>
<TD >330</TD>
<TD >40</TD>
<TD >40</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|lcd_chars_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >330</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|goal_pio_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent_rsp_fifo|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|goal_pio_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|goal_pio_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent|uncompressor</TD>
<TD >45</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >43</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|goal_pio_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >40</TD>
<TD >57</TD>
<TD >40</TD>
<TD >330</TD>
<TD >40</TD>
<TD >40</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|goal_pio_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >330</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|red_leds_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent_rsp_fifo|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|red_leds_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|red_leds_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent|uncompressor</TD>
<TD >45</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >43</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|red_leds_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >40</TD>
<TD >57</TD>
<TD >40</TD>
<TD >330</TD>
<TD >40</TD>
<TD >40</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|red_leds_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >330</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|green_leds_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent_rsp_fifo|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|green_leds_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|green_leds_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent|uncompressor</TD>
<TD >45</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >43</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|green_leds_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >40</TD>
<TD >57</TD>
<TD >40</TD>
<TD >330</TD>
<TD >40</TD>
<TD >40</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|green_leds_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >330</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|hex3_hex0_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent_rsp_fifo|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|hex3_hex0_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|hex3_hex0_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent|uncompressor</TD>
<TD >45</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >43</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|hex3_hex0_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >40</TD>
<TD >57</TD>
<TD >40</TD>
<TD >330</TD>
<TD >40</TD>
<TD >40</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|hex3_hex0_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >330</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|hex7_hex4_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent_rsp_fifo|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|hex7_hex4_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|hex7_hex4_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent|uncompressor</TD>
<TD >45</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >43</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|hex7_hex4_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >40</TD>
<TD >57</TD>
<TD >40</TD>
<TD >330</TD>
<TD >40</TD>
<TD >40</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|hex7_hex4_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >330</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|slider_switches_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent_rsp_fifo|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|slider_switches_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|slider_switches_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent|uncompressor</TD>
<TD >45</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >43</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|slider_switches_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >40</TD>
<TD >57</TD>
<TD >40</TD>
<TD >330</TD>
<TD >40</TD>
<TD >40</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|slider_switches_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >330</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|pushbuttons_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent_rsp_fifo|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|pushbuttons_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|pushbuttons_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent|uncompressor</TD>
<TD >45</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >43</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|pushbuttons_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >40</TD>
<TD >57</TD>
<TD >40</TD>
<TD >330</TD>
<TD >40</TD>
<TD >40</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|pushbuttons_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >330</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|expansion_jp1_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent_rsp_fifo|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|expansion_jp1_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|expansion_jp1_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent|uncompressor</TD>
<TD >45</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >43</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|expansion_jp1_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >40</TD>
<TD >57</TD>
<TD >40</TD>
<TD >330</TD>
<TD >40</TD>
<TD >40</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|expansion_jp1_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >330</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|expansion_jp2_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent_rsp_fifo|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|expansion_jp2_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|expansion_jp2_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent|uncompressor</TD>
<TD >45</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >43</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|expansion_jp2_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >40</TD>
<TD >57</TD>
<TD >40</TD>
<TD >330</TD>
<TD >40</TD>
<TD >40</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|expansion_jp2_avalon_parallel_port_slave_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >330</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port_avalon_rs232_slave_translator_avalon_universal_slave_0_agent_rsp_fifo|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port_avalon_rs232_slave_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port_avalon_rs232_slave_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent|uncompressor</TD>
<TD >45</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >43</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port_avalon_rs232_slave_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >40</TD>
<TD >57</TD>
<TD >40</TD>
<TD >330</TD>
<TD >40</TD>
<TD >40</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port_avalon_rs232_slave_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >330</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sysid_control_slave_translator_avalon_universal_slave_0_agent_rsp_fifo|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sysid_control_slave_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sysid_control_slave_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent|uncompressor</TD>
<TD >45</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >43</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sysid_control_slave_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >40</TD>
<TD >57</TD>
<TD >40</TD>
<TD >330</TD>
<TD >40</TD>
<TD >40</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sysid_control_slave_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >330</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|interval_timer_s1_translator_avalon_universal_slave_0_agent_rsp_fifo|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|interval_timer_s1_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|interval_timer_s1_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent|uncompressor</TD>
<TD >45</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >43</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|interval_timer_s1_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >40</TD>
<TD >57</TD>
<TD >40</TD>
<TD >330</TD>
<TD >40</TD>
<TD >40</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|interval_timer_s1_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >330</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_avalon_jtag_slave_translator_avalon_universal_slave_0_agent_rsp_fifo|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_avalon_jtag_slave_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_avalon_jtag_slave_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent|uncompressor</TD>
<TD >45</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >43</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_avalon_jtag_slave_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >40</TD>
<TD >57</TD>
<TD >40</TD>
<TD >330</TD>
<TD >40</TD>
<TD >40</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_avalon_jtag_slave_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >330</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|onchip_memory_s2_translator_avalon_universal_slave_0_agent_rsp_fifo|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|onchip_memory_s2_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|onchip_memory_s2_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent|uncompressor</TD>
<TD >45</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >43</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|onchip_memory_s2_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >40</TD>
<TD >57</TD>
<TD >40</TD>
<TD >330</TD>
<TD >40</TD>
<TD >40</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|onchip_memory_s2_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >330</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sram_avalon_sram_slave_translator_avalon_universal_slave_0_agent_rdata_fifo|sdram_s1_translator_avalon_universal_slave_0_agent_rdata_fifo</TD>
<TD >63</TD>
<TD >80</TD>
<TD >0</TD>
<TD >80</TD>
<TD >59</TD>
<TD >80</TD>
<TD >80</TD>
<TD >80</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sram_avalon_sram_slave_translator_avalon_universal_slave_0_agent_rdata_fifo</TD>
<TD >63</TD>
<TD >80</TD>
<TD >0</TD>
<TD >80</TD>
<TD >59</TD>
<TD >80</TD>
<TD >80</TD>
<TD >80</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sram_avalon_sram_slave_translator_avalon_universal_slave_0_agent_rsp_fifo|sdram_s1_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >134</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >130</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sram_avalon_sram_slave_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >134</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >130</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sram_avalon_sram_slave_translator_avalon_universal_slave_0_agent|sdram_s1_translator_avalon_universal_slave_0_agent|uncompressor</TD>
<TD >45</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >43</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sram_avalon_sram_slave_translator_avalon_universal_slave_0_agent|sdram_s1_translator_avalon_universal_slave_0_agent</TD>
<TD >248</TD>
<TD >23</TD>
<TD >41</TD>
<TD >23</TD>
<TD >259</TD>
<TD >23</TD>
<TD >23</TD>
<TD >23</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sram_avalon_sram_slave_translator_avalon_universal_slave_0_agent</TD>
<TD >248</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >259</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sdram_s1_translator_avalon_universal_slave_0_agent_rdata_fifo|sdram_s1_translator_avalon_universal_slave_0_agent_rdata_fifo</TD>
<TD >63</TD>
<TD >80</TD>
<TD >0</TD>
<TD >80</TD>
<TD >59</TD>
<TD >80</TD>
<TD >80</TD>
<TD >80</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sdram_s1_translator_avalon_universal_slave_0_agent_rdata_fifo</TD>
<TD >63</TD>
<TD >80</TD>
<TD >0</TD>
<TD >80</TD>
<TD >59</TD>
<TD >80</TD>
<TD >80</TD>
<TD >80</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sdram_s1_translator_avalon_universal_slave_0_agent_rsp_fifo|sdram_s1_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >134</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >130</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sdram_s1_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >134</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >130</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sdram_s1_translator_avalon_universal_slave_0_agent|sdram_s1_translator_avalon_universal_slave_0_agent|uncompressor</TD>
<TD >45</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >43</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sdram_s1_translator_avalon_universal_slave_0_agent|sdram_s1_translator_avalon_universal_slave_0_agent</TD>
<TD >248</TD>
<TD >23</TD>
<TD >41</TD>
<TD >23</TD>
<TD >259</TD>
<TD >23</TD>
<TD >23</TD>
<TD >23</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sdram_s1_translator_avalon_universal_slave_0_agent</TD>
<TD >248</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >259</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|onchip_memory_s1_translator_avalon_universal_slave_0_agent_rsp_fifo|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|onchip_memory_s1_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|onchip_memory_s1_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent|uncompressor</TD>
<TD >45</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >43</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|onchip_memory_s1_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >40</TD>
<TD >57</TD>
<TD >40</TD>
<TD >330</TD>
<TD >40</TD>
<TD >40</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|onchip_memory_s1_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >330</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent_rsp_fifo|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >152</TD>
<TD >76</TD>
<TD >0</TD>
<TD >76</TD>
<TD >148</TD>
<TD >76</TD>
<TD >76</TD>
<TD >76</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent|uncompressor</TD>
<TD >45</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >43</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >40</TD>
<TD >57</TD>
<TD >40</TD>
<TD >330</TD>
<TD >40</TD>
<TD >40</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu_jtag_debug_module_translator_avalon_universal_slave_0_agent</TD>
<TD >316</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >330</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu_data_master_translator_avalon_universal_master_0_agent</TD>
<TD >205</TD>
<TD >42</TD>
<TD >97</TD>
<TD >42</TD>
<TD >147</TD>
<TD >42</TD>
<TD >42</TD>
<TD >42</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu_instruction_master_translator_avalon_universal_master_0_agent</TD>
<TD >205</TD>
<TD >42</TD>
<TD >97</TD>
<TD >42</TD>
<TD >147</TD>
<TD >42</TD>
<TD >42</TD>
<TD >42</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|lcd_flags_avalon_parallel_port_slave_translator|expansion_jp2_avalon_parallel_port_slave_translator</TD>
<TD >113</TD>
<TD >22</TD>
<TD >27</TD>
<TD >22</TD>
<TD >90</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|lcd_flags_avalon_parallel_port_slave_translator</TD>
<TD >113</TD>
<TD >22</TD>
<TD >0</TD>
<TD >22</TD>
<TD >90</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|lcd_chars_avalon_parallel_port_slave_translator|expansion_jp2_avalon_parallel_port_slave_translator</TD>
<TD >113</TD>
<TD >22</TD>
<TD >27</TD>
<TD >22</TD>
<TD >90</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|lcd_chars_avalon_parallel_port_slave_translator</TD>
<TD >113</TD>
<TD >22</TD>
<TD >0</TD>
<TD >22</TD>
<TD >90</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|goal_pio_avalon_parallel_port_slave_translator|expansion_jp2_avalon_parallel_port_slave_translator</TD>
<TD >113</TD>
<TD >22</TD>
<TD >27</TD>
<TD >22</TD>
<TD >90</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|goal_pio_avalon_parallel_port_slave_translator</TD>
<TD >113</TD>
<TD >22</TD>
<TD >0</TD>
<TD >22</TD>
<TD >90</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|red_leds_avalon_parallel_port_slave_translator|expansion_jp2_avalon_parallel_port_slave_translator</TD>
<TD >113</TD>
<TD >22</TD>
<TD >27</TD>
<TD >22</TD>
<TD >90</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|red_leds_avalon_parallel_port_slave_translator</TD>
<TD >113</TD>
<TD >22</TD>
<TD >0</TD>
<TD >22</TD>
<TD >90</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|green_leds_avalon_parallel_port_slave_translator|expansion_jp2_avalon_parallel_port_slave_translator</TD>
<TD >113</TD>
<TD >22</TD>
<TD >27</TD>
<TD >22</TD>
<TD >90</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|green_leds_avalon_parallel_port_slave_translator</TD>
<TD >113</TD>
<TD >22</TD>
<TD >0</TD>
<TD >22</TD>
<TD >90</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|hex3_hex0_avalon_parallel_port_slave_translator|expansion_jp2_avalon_parallel_port_slave_translator</TD>
<TD >113</TD>
<TD >22</TD>
<TD >27</TD>
<TD >22</TD>
<TD >90</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|hex3_hex0_avalon_parallel_port_slave_translator</TD>
<TD >113</TD>
<TD >22</TD>
<TD >0</TD>
<TD >22</TD>
<TD >90</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|hex7_hex4_avalon_parallel_port_slave_translator|expansion_jp2_avalon_parallel_port_slave_translator</TD>
<TD >113</TD>
<TD >22</TD>
<TD >27</TD>
<TD >22</TD>
<TD >90</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|hex7_hex4_avalon_parallel_port_slave_translator</TD>
<TD >113</TD>
<TD >22</TD>
<TD >0</TD>
<TD >22</TD>
<TD >90</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|slider_switches_avalon_parallel_port_slave_translator|expansion_jp2_avalon_parallel_port_slave_translator</TD>
<TD >113</TD>
<TD >22</TD>
<TD >27</TD>
<TD >22</TD>
<TD >90</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|slider_switches_avalon_parallel_port_slave_translator</TD>
<TD >113</TD>
<TD >22</TD>
<TD >0</TD>
<TD >22</TD>
<TD >90</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|pushbuttons_avalon_parallel_port_slave_translator|expansion_jp2_avalon_parallel_port_slave_translator</TD>
<TD >113</TD>
<TD >22</TD>
<TD >27</TD>
<TD >22</TD>
<TD >90</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|pushbuttons_avalon_parallel_port_slave_translator</TD>
<TD >113</TD>
<TD >22</TD>
<TD >0</TD>
<TD >22</TD>
<TD >90</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|expansion_jp1_avalon_parallel_port_slave_translator|expansion_jp2_avalon_parallel_port_slave_translator</TD>
<TD >113</TD>
<TD >22</TD>
<TD >27</TD>
<TD >22</TD>
<TD >90</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|expansion_jp1_avalon_parallel_port_slave_translator</TD>
<TD >113</TD>
<TD >22</TD>
<TD >0</TD>
<TD >22</TD>
<TD >90</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|expansion_jp2_avalon_parallel_port_slave_translator|expansion_jp2_avalon_parallel_port_slave_translator</TD>
<TD >113</TD>
<TD >22</TD>
<TD >27</TD>
<TD >22</TD>
<TD >90</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|expansion_jp2_avalon_parallel_port_slave_translator</TD>
<TD >113</TD>
<TD >22</TD>
<TD >0</TD>
<TD >22</TD>
<TD >90</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port_avalon_rs232_slave_translator|serial_port_avalon_rs232_slave_translator</TD>
<TD >113</TD>
<TD >22</TD>
<TD >28</TD>
<TD >22</TD>
<TD >89</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port_avalon_rs232_slave_translator</TD>
<TD >113</TD>
<TD >22</TD>
<TD >0</TD>
<TD >22</TD>
<TD >89</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sysid_control_slave_translator|sysid_control_slave_translator</TD>
<TD >113</TD>
<TD >61</TD>
<TD >28</TD>
<TD >61</TD>
<TD >89</TD>
<TD >61</TD>
<TD >61</TD>
<TD >61</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sysid_control_slave_translator</TD>
<TD >113</TD>
<TD >61</TD>
<TD >0</TD>
<TD >61</TD>
<TD >89</TD>
<TD >61</TD>
<TD >61</TD>
<TD >61</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|interval_timer_s1_translator|interval_timer_s1_translator</TD>
<TD >97</TD>
<TD >37</TD>
<TD >45</TD>
<TD >37</TD>
<TD >69</TD>
<TD >37</TD>
<TD >37</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|interval_timer_s1_translator</TD>
<TD >97</TD>
<TD >21</TD>
<TD >0</TD>
<TD >21</TD>
<TD >69</TD>
<TD >21</TD>
<TD >21</TD>
<TD >21</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_avalon_jtag_slave_translator|jtag_uart_avalon_jtag_slave_translator</TD>
<TD >113</TD>
<TD >19</TD>
<TD >31</TD>
<TD >19</TD>
<TD >83</TD>
<TD >19</TD>
<TD >19</TD>
<TD >19</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_avalon_jtag_slave_translator</TD>
<TD >113</TD>
<TD >19</TD>
<TD >0</TD>
<TD >19</TD>
<TD >83</TD>
<TD >19</TD>
<TD >19</TD>
<TD >19</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|onchip_memory_s2_translator|onchip_memory_s1_translator</TD>
<TD >113</TD>
<TD >23</TD>
<TD >18</TD>
<TD >23</TD>
<TD >99</TD>
<TD >23</TD>
<TD >23</TD>
<TD >23</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|onchip_memory_s2_translator</TD>
<TD >113</TD>
<TD >22</TD>
<TD >0</TD>
<TD >22</TD>
<TD >99</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sram_avalon_sram_slave_translator|sram_avalon_sram_slave_translator</TD>
<TD >78</TD>
<TD >20</TD>
<TD >11</TD>
<TD >20</TD>
<TD >70</TD>
<TD >20</TD>
<TD >20</TD>
<TD >20</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sram_avalon_sram_slave_translator</TD>
<TD >78</TD>
<TD >20</TD>
<TD >0</TD>
<TD >20</TD>
<TD >70</TD>
<TD >20</TD>
<TD >20</TD>
<TD >20</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sdram_s1_translator|sdram_s1_translator</TD>
<TD >78</TD>
<TD >18</TD>
<TD >7</TD>
<TD >18</TD>
<TD >74</TD>
<TD >18</TD>
<TD >18</TD>
<TD >18</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sdram_s1_translator</TD>
<TD >78</TD>
<TD >18</TD>
<TD >0</TD>
<TD >18</TD>
<TD >74</TD>
<TD >18</TD>
<TD >18</TD>
<TD >18</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|onchip_memory_s1_translator|onchip_memory_s1_translator</TD>
<TD >113</TD>
<TD >23</TD>
<TD >18</TD>
<TD >23</TD>
<TD >99</TD>
<TD >23</TD>
<TD >23</TD>
<TD >23</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|onchip_memory_s1_translator</TD>
<TD >113</TD>
<TD >22</TD>
<TD >0</TD>
<TD >22</TD>
<TD >99</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu_jtag_debug_module_translator|cpu_jtag_debug_module_translator</TD>
<TD >113</TD>
<TD >21</TD>
<TD >20</TD>
<TD >21</TD>
<TD >97</TD>
<TD >21</TD>
<TD >21</TD>
<TD >21</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu_jtag_debug_module_translator</TD>
<TD >113</TD>
<TD >21</TD>
<TD >0</TD>
<TD >21</TD>
<TD >97</TD>
<TD >21</TD>
<TD >21</TD>
<TD >21</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu_data_master_translator|cpu_data_master_translator</TD>
<TD >114</TD>
<TD >19</TD>
<TD >0</TD>
<TD >19</TD>
<TD >111</TD>
<TD >19</TD>
<TD >19</TD>
<TD >19</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu_data_master_translator</TD>
<TD >114</TD>
<TD >16</TD>
<TD >0</TD>
<TD >16</TD>
<TD >111</TD>
<TD >16</TD>
<TD >16</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu_instruction_master_translator|cpu_instruction_master_translator</TD>
<TD >113</TD>
<TD >59</TD>
<TD >0</TD>
<TD >59</TD>
<TD >111</TD>
<TD >59</TD>
<TD >59</TD>
<TD >59</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu_instruction_master_translator</TD>
<TD >113</TD>
<TD >54</TD>
<TD >0</TD>
<TD >54</TD>
<TD >111</TD>
<TD >54</TD>
<TD >54</TD>
<TD >54</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|lcd_flags</TD>
<TD >43</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >64</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|lcd_chars</TD>
<TD >43</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >64</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|goal_pio</TD>
<TD >52</TD>
<TD >0</TD>
<TD >38</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sysid</TD>
<TD >3</TD>
<TD >16</TD>
<TD >2</TD>
<TD >16</TD>
<TD >32</TD>
<TD >16</TD>
<TD >16</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu|the_nios_system_CPU_nios2_oci|the_nios_system_CPU_jtag_debug_module_wrapper|the_nios_system_CPU_jtag_debug_module_sysclk</TD>
<TD >43</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >51</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu|the_nios_system_CPU_nios2_oci|the_nios_system_CPU_jtag_debug_module_wrapper|the_nios_system_CPU_jtag_debug_module_tck</TD>
<TD >130</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >43</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu|the_nios_system_CPU_nios2_oci|the_nios_system_CPU_jtag_debug_module_wrapper</TD>
<TD >123</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >53</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu|the_nios_system_CPU_nios2_oci|the_nios_system_CPU_nios2_oci_im</TD>
<TD >97</TD>
<TD >36</TD>
<TD >93</TD>
<TD >36</TD>
<TD >48</TD>
<TD >36</TD>
<TD >36</TD>
<TD >36</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu|the_nios_system_CPU_nios2_oci|the_nios_system_CPU_nios2_oci_pib</TD>
<TD >39</TD>
<TD >20</TD>
<TD >38</TD>
<TD >20</TD>
<TD >19</TD>
<TD >20</TD>
<TD >20</TD>
<TD >20</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu|the_nios_system_CPU_nios2_oci|the_nios_system_CPU_nios2_oci_fifo|the_nios_system_CPU_oci_test_bench</TD>
<TD >36</TD>
<TD >0</TD>
<TD >36</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu|the_nios_system_CPU_nios2_oci|the_nios_system_CPU_nios2_oci_fifo|nios_system_CPU_nios2_oci_fifocount_inc_fifocount</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu|the_nios_system_CPU_nios2_oci|the_nios_system_CPU_nios2_oci_fifo|nios_system_CPU_nios2_oci_fifowp_inc_fifowp</TD>
<TD >4</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >4</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu|the_nios_system_CPU_nios2_oci|the_nios_system_CPU_nios2_oci_fifo|nios_system_CPU_nios2_oci_compute_tm_count_tm_count</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu|the_nios_system_CPU_nios2_oci|the_nios_system_CPU_nios2_oci_fifo</TD>
<TD >151</TD>
<TD >0</TD>
<TD >65</TD>
<TD >0</TD>
<TD >36</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu|the_nios_system_CPU_nios2_oci|the_nios_system_CPU_nios2_oci_dtrace|nios_system_CPU_nios2_oci_trc_ctrl_td_mode</TD>
<TD >9</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu|the_nios_system_CPU_nios2_oci|the_nios_system_CPU_nios2_oci_dtrace</TD>
<TD >114</TD>
<TD >0</TD>
<TD >103</TD>
<TD >0</TD>
<TD >72</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu|the_nios_system_CPU_nios2_oci|the_nios_system_CPU_nios2_oci_itrace</TD>
<TD >25</TD>
<TD >17</TD>
<TD >23</TD>
<TD >17</TD>
<TD >87</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu|the_nios_system_CPU_nios2_oci|the_nios_system_CPU_nios2_oci_dbrk</TD>
<TD >99</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >103</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu|the_nios_system_CPU_nios2_oci|the_nios_system_CPU_nios2_oci_xbrk</TD>
<TD >64</TD>
<TD >5</TD>
<TD >61</TD>
<TD >5</TD>
<TD >6</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu|the_nios_system_CPU_nios2_oci|the_nios_system_CPU_nios2_oci_break</TD>
<TD >52</TD>
<TD >36</TD>
<TD >6</TD>
<TD >36</TD>
<TD >71</TD>
<TD >36</TD>
<TD >36</TD>
<TD >36</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu|the_nios_system_CPU_nios2_oci|the_nios_system_CPU_nios2_avalon_reg</TD>
<TD >48</TD>
<TD >0</TD>
<TD >25</TD>
<TD >0</TD>
<TD >68</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu|the_nios_system_CPU_nios2_oci|the_nios_system_CPU_nios2_ocimem|nios_system_CPU_ociram_sp_ram|the_altsyncram|auto_generated</TD>
<TD >46</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu|the_nios_system_CPU_nios2_oci|the_nios_system_CPU_nios2_ocimem|nios_system_CPU_ociram_sp_ram</TD>
<TD >46</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu|the_nios_system_CPU_nios2_oci|the_nios_system_CPU_nios2_ocimem</TD>
<TD >91</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >65</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu|the_nios_system_CPU_nios2_oci|the_nios_system_CPU_nios2_oci_debug</TD>
<TD >50</TD>
<TD >1</TD>
<TD >30</TD>
<TD >1</TD>
<TD >7</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu|the_nios_system_CPU_nios2_oci</TD>
<TD >178</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >69</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu|nios_system_CPU_register_bank_b|the_altsyncram|auto_generated</TD>
<TD >44</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu|nios_system_CPU_register_bank_b</TD>
<TD >44</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu|nios_system_CPU_register_bank_a|the_altsyncram|auto_generated</TD>
<TD >44</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu|nios_system_CPU_register_bank_a</TD>
<TD >44</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu|the_nios_system_CPU_test_bench</TD>
<TD >303</TD>
<TD >3</TD>
<TD >266</TD>
<TD >3</TD>
<TD >34</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cpu</TD>
<TD >148</TD>
<TD >1</TD>
<TD >26</TD>
<TD >1</TD>
<TD >132</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sram</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port|RS232_Out_Serializer|RS232_Out_FIFO|Sync_FIFO|auto_generated|dpfifo|wr_ptr</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port|RS232_Out_Serializer|RS232_Out_FIFO|Sync_FIFO|auto_generated|dpfifo|usedw_counter</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port|RS232_Out_Serializer|RS232_Out_FIFO|Sync_FIFO|auto_generated|dpfifo|rd_ptr_msb</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port|RS232_Out_Serializer|RS232_Out_FIFO|Sync_FIFO|auto_generated|dpfifo|three_comparison</TD>
<TD >14</TD>
<TD >7</TD>
<TD >0</TD>
<TD >7</TD>
<TD >1</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port|RS232_Out_Serializer|RS232_Out_FIFO|Sync_FIFO|auto_generated|dpfifo|almost_full_comparer</TD>
<TD >14</TD>
<TD >7</TD>
<TD >0</TD>
<TD >7</TD>
<TD >1</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port|RS232_Out_Serializer|RS232_Out_FIFO|Sync_FIFO|auto_generated|dpfifo|FIFOram</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >9</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port|RS232_Out_Serializer|RS232_Out_FIFO|Sync_FIFO|auto_generated|dpfifo</TD>
<TD >13</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >18</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port|RS232_Out_Serializer|RS232_Out_FIFO|Sync_FIFO|auto_generated</TD>
<TD >13</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >18</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port|RS232_Out_Serializer|RS232_Out_FIFO</TD>
<TD >13</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >18</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port|RS232_Out_Serializer|RS232_Out_Counters</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port|RS232_Out_Serializer</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >9</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port|RS232_In_Deserializer|RS232_In_FIFO|Sync_FIFO|auto_generated|dpfifo|wr_ptr</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port|RS232_In_Deserializer|RS232_In_FIFO|Sync_FIFO|auto_generated|dpfifo|usedw_counter</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port|RS232_In_Deserializer|RS232_In_FIFO|Sync_FIFO|auto_generated|dpfifo|rd_ptr_msb</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port|RS232_In_Deserializer|RS232_In_FIFO|Sync_FIFO|auto_generated|dpfifo|three_comparison</TD>
<TD >14</TD>
<TD >7</TD>
<TD >0</TD>
<TD >7</TD>
<TD >1</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port|RS232_In_Deserializer|RS232_In_FIFO|Sync_FIFO|auto_generated|dpfifo|almost_full_comparer</TD>
<TD >14</TD>
<TD >7</TD>
<TD >0</TD>
<TD >7</TD>
<TD >1</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port|RS232_In_Deserializer|RS232_In_FIFO|Sync_FIFO|auto_generated|dpfifo|FIFOram</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >9</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port|RS232_In_Deserializer|RS232_In_FIFO|Sync_FIFO|auto_generated|dpfifo</TD>
<TD >13</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >18</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port|RS232_In_Deserializer|RS232_In_FIFO|Sync_FIFO|auto_generated</TD>
<TD >13</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >18</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port|RS232_In_Deserializer|RS232_In_FIFO</TD>
<TD >13</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >18</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port|RS232_In_Deserializer|RS232_In_Counters</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port|RS232_In_Deserializer</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >18</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|serial_port</TD>
<TD >43</TD>
<TD >0</TD>
<TD >27</TD>
<TD >0</TD>
<TD >34</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|expansion_jp2</TD>
<TD >43</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >33</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|expansion_jp1</TD>
<TD >43</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >33</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|pushbuttons</TD>
<TD >47</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >33</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|slider_switches</TD>
<TD >61</TD>
<TD >0</TD>
<TD >38</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|hex7_hex4</TD>
<TD >43</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >60</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|hex3_hex0</TD>
<TD >43</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >60</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|green_leds</TD>
<TD >43</TD>
<TD >0</TD>
<TD >26</TD>
<TD >0</TD>
<TD >41</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|red_leds</TD>
<TD >43</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >50</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sdram|the_nios_system_SDRAM_input_efifo_module</TD>
<TD >45</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >45</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sdram</TD>
<TD >45</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >39</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|interval_timer</TD>
<TD >23</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_JTAG_UART_scfifo_r|rfifo|auto_generated|dpfifo|wr_ptr</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_JTAG_UART_scfifo_r|rfifo|auto_generated|dpfifo|rd_ptr_count</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_JTAG_UART_scfifo_r|rfifo|auto_generated|dpfifo|FIFOram|altsyncram2</TD>
<TD >24</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_JTAG_UART_scfifo_r|rfifo|auto_generated|dpfifo|FIFOram</TD>
<TD >24</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_JTAG_UART_scfifo_r|rfifo|auto_generated|dpfifo|fifo_state|count_usedw</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_JTAG_UART_scfifo_r|rfifo|auto_generated|dpfifo|fifo_state</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_JTAG_UART_scfifo_r|rfifo|auto_generated|dpfifo</TD>
<TD >13</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_JTAG_UART_scfifo_r|rfifo|auto_generated</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_JTAG_UART_scfifo_r</TD>
<TD >13</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_JTAG_UART_scfifo_w|wfifo|auto_generated|dpfifo|wr_ptr</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_JTAG_UART_scfifo_w|wfifo|auto_generated|dpfifo|rd_ptr_count</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_JTAG_UART_scfifo_w|wfifo|auto_generated|dpfifo|FIFOram|altsyncram2</TD>
<TD >24</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_JTAG_UART_scfifo_w|wfifo|auto_generated|dpfifo|FIFOram</TD>
<TD >24</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_JTAG_UART_scfifo_w|wfifo|auto_generated|dpfifo|fifo_state|count_usedw</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_JTAG_UART_scfifo_w|wfifo|auto_generated|dpfifo|fifo_state</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_JTAG_UART_scfifo_w|wfifo|auto_generated|dpfifo</TD>
<TD >13</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_JTAG_UART_scfifo_w|wfifo|auto_generated</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_JTAG_UART_scfifo_w</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart</TD>
<TD >38</TD>
<TD >10</TD>
<TD >23</TD>
<TD >10</TD>
<TD >34</TD>
<TD >10</TD>
<TD >10</TD>
<TD >10</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|onchip_memory|the_altsyncram|auto_generated</TD>
<TD >100</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >64</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|onchip_memory</TD>
<TD >106</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >64</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII</TD>
<TD >34</TD>
<TD >57</TD>
<TD >0</TD>
<TD >57</TD>
<TD >192</TD>
<TD >57</TD>
<TD >57</TD>
<TD >57</TD>
<TD >96</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
</TABLE>
